{% extends "base.html" %}
{%block content%}

<h1 class="fs-3"> Request Report Generation </h1> 

<form method="POST" action="{{ url_for('reports') }}" novalidate>
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.student_id.label }}<br/>{{ form.student_id(size=30) }}<br/>
        {% for error in form.student_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div class="mb-3">
        {{ form.device_id.label }}<br/>{{ form.device_id(size=30) }}<br/>
        {% for error in form.device_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div class="mb-3">{{ form.submit() }}</div>
</form>


{% if form.is_submitted() %}
    {% if loan_data %}
        <h3>Device #{{ loan_data[0].device_id }} ({{ loan_data[0].device.device_type }}) Information</h3>
        <div class="table-responsive">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Borrowed By</th>
                        <th>Borrowed Date</th>
                        <th>Returned Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for loan in loan_data %}
                    <tr>
                        <td>#{{ loan.student.student_id}} {{ loan.student.firstname}} {{ loan.student.lastname}}</td>
                        <td>{{ loan.borrowdatetime }}</td>
                        <td>{{ loan.returndatetime }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>No device information found for the specified device ID.</p>
    {% endif %}
{% endif %}

{% if form.is_submitted() %}
    {% if student_data %}
        <h3>Student #{{ student_data.student_id }} Loan Information</h3>
        <div class="table-responsive">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Device ID</th>
                        <th>Device Type</th>
                        <th>Borrowed Date</th>
                        <th>Returned Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for loan in student_data.loans %}
                    <tr>
                        <td>{{ loan.device_id}} </td>
                        <td>{{ loan.device.device_type }}</td>
                        <td>{{ loan.borrowdatetime }}</td>
                        <td>{{ loan.returndatetime }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>No device information found for the specified student ID.</p>
    {% endif %}
{% endif %}

{%endblock%}